* {
    font-family: 'Gabriela', serif;
}

#content {
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 50px;
    color: #666;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

body {
    background-color: #eee;
}

form {
    overflow: hidden;
    background-color: #eee;
    padding: 20px;
}

form input, select {
    font-size: 1em;
    padding: 5px;
    float: left;
    clear: both;
}

ul li {
    margin: 0 0 10px 0;
}
