<form method="post">
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter the password..." />
  </p>
  <p>
    <input type="submit" id="submit" value="Login" />
  </p>
</form>
